#########################################################################
# World ID related variables, which are retrieved from Developer Portal #
#########################################################################
# World ID v3
#NEXT_PUBLIC_WORLDCOIN_APP_ID=
#NEXT_PUBLIC_WORLDCOIN_ACTION_ID=

# World ID v4
#NEXT_PUBLIC_WORLDCOIN_APP_ID=
#NEXT_PUBLIC_WORLDCOIN_RP_ID=


#######################################
# World Chain mainnet/sepolia commons #
#######################################
# World Chain Scan API Key
WORLD_CHAIN_SCAN_API_KEY="YOUR_WORLD_CHAIN_SCAN_API_KEY_HERE"   # v2
#WORLD_CHAIN_SCAN_API_KEY="YOUR_WORLD_CHAIN_SCAN_API_KEY_HERE"  # v1


########################
# World Chain sepolia #
########################
WORLD_CHAIN_SEPOLIA_PRIVATE_KEY="YOUR_PRIVATE_KEY_HERE"
WORLD_CHAIN_SEPOLIA_RPC_URL="https://worldchain-sepolia.g.alchemy.com/public"
WORLD_CHAIN_SEPOLIA_CHAIN_ID="4801"

WORLD_ID_ROUTER_ON_WORLD_CHAIN_SEPOLIA="0x57f928158C3EE7CDad1e4D8642503c4D0201f611"
WORLD_ID_V3_BADGE_MANAGER_ON_WORLD_CHAIN_SEPOLIA="0xE4531177030A7bD88eb58c6ADEe0e4155AfCaeCf"


########################
# World Chain mainnet #
########################
WORLD_CHAIN_MAINNET_PRIVATE_KEY="YOUR_PRIVATE_KEY_HERE"
WORLD_CHAIN_MAINNET_RPC_URL="https://worldchain-mainnet.g.alchemy.com/public"
WORLD_CHAIN_MAINNET_CHAIN_ID="480"

WORLD_ID_ROUTER_ON_WORLD_CHAIN_MAINNET="0x17B354dD2595411ff79041f930e491A4Df39A278"
WORLD_ID_VERIFIER_ON_WORLD_CHAIN_MAINNET=""




########################
# Base Sepolia testnet #
########################
BASE_TESTNET_PRIVATE_KEY=""
BASE_TESTNET_RPC="https://sepolia.base.org"
BASE_TESTNET_CHAIN_ID=84532

WORLD_ID_ROUTER_ON_BASE_TESTNET="0x42FF98C4E85212a5D31358ACbFe76a621b50fC02"
WORLD_ID_VERIFIER_ON_BASE_TESTNET=""
#CONTRACT_ON_BASE_TESTNET=""


################################
# Base Mainnet/Testnet commons #
################################

# BaseScan API Key
BASESCAN_API_KEY=""   # v2
#BASESCAN_API_KEY=""  # v1